<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
   
      <property name = "hibernate.dialect">
         org.hibernate.dialect.MySQLDialect
      </property>
      
      <property name = "hibernate.connection.driver_class">
         org.mariadb.jdbc.Driver
      </property>
      
      <!-- Assume test is the database name -->
      
      <property name = "hibernate.connection.url">
         jdbc:mariadb://localhost:3307/alignprivate
      </property>
      
      <property name = "hibernate.connection.username">
         root
      </property>
      
      <property name = "hibernate.connection.password">
         Turkey#786
      </property>
      
      <!-- List of XML mapping files -->
      <mapping resource = "Student.hbm.xml"/>
      <mapping resource = "PriorEducation.hbm.xml"/>
      <mapping resource = "Experience.hbm.xml"/>
      <mapping resource = "Elective.hbm.xml"/>
      <mapping resource = "Courses.hbm.xml"/>
   </session-factory>
</hibernate-configuration>